.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fcfcfc;
    padding: 20px 10px;
    border-top: 1px solid #f7f7f7;
}

.nav__list{
    display: flex;
    justify-content: space-between;

}
.nav__list a {
    display: inline-block;
    font-size: 20px;
}

.nav__list-item{
    display: flex;
    align-items: center;
    height: 14px;
}
.nav__list-link{
    position: relative;
    display: flex;
    text-align: center;
    line-height: 18px;
}

.nav .nav__badge{
    position: absolute;
    left: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-color: #dc5d46;
    font-size: 15px;
    color: white;
    border-radius: 50%;
}