@import "reset.css";
@import "statusbar.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import 'header.css';
@import "nav.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
body{
    background-color:white;
    padding: 10px 20px;
    color: #020202;
    font-family: 'Open Sans', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}